<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>restaurant menu</title>
</head>
<body>

<h1>{{ restaurant.name }} menu</h1>

<div class = 'flash'>
    <! the WITH thing here down: it does some automatic cleanup when the block is exited>

    {% with messages = get_flashed_messages() %}

    <! get_flashed_messages is returning an array of messages that's gonna get stored in
    the messages variable>

    {% if messages %}

    <ul>
        <! we then loop through the array of message if it's not empty and print it out
        to our HTML document inside an Unordered List>

    {% for message in messages %}
        <li><strong> {{ message }} </strong></li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>


<a href="{{ url_for('newMenuItem', restaurant_id=restaurant_id) }}">Create new menu item</a>
<br>
{% if appetizers: %}
    <h3>Appetizers</h3>
    {% for item in appetizers %}
        {{ item.name }}
        <br>{{ item.description }}
        <br>{{ item.price }}
    <p></p>
        <a href="{{ url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=item.id) }}">Edit</a>
        <a href="{{ url_for('deleteMenuItem', restaurant_id=restaurant_id, menu_id=item.id) }}">Delete</a>
        <p>
    {% endfor %}
{% endif %}

{% if entrees: %}
    <h3>Entrees</h3>
    {% for item in entrees %}
        {{ item.name }}
        <br>{{ item.description }}
        <br>{{ item.price }}
    <p></p>
        <a href="{{ url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=item.id) }}">Edit</a>
        <a href="{{ url_for('deleteMenuItem', restaurant_id=restaurant_id, menu_id=item.id) }}">Delete</a>
        <p>
    {% endfor %}
{% endif %}

{% if desserts: %}
    <h3>Desserts</h3>
    {% for item in desserts %}
        {{ item.name }}
        <br>{{ item.description }}
        <br>{{ item.price }}
    <p></p>
        <a href="{{ url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=item.id) }}">Edit</a>
        <a href="{{ url_for('deleteMenuItem', restaurant_id=restaurant_id, menu_id=item.id) }}">Delete</a>
        <p>
    {% endfor %}
{% endif %}

{% if beverages: %}
    <h3>Beverages</h3>
    {% for item in beverages %}
        {{ item.name }}
        <br>{{ item.description }}
        <br>{{ item.price }}
    <p></p>
        <a href="{{ url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=item.id) }}">Edit</a>
        <a href="{{ url_for('deleteMenuItem', restaurant_id=restaurant_id, menu_id=item.id) }}">Delete</a>
        <p>
    {% endfor %}
{% endif %}
<p></p>
            <a href="{{ url_for('showRestaurants', restaurant_id=restaurant.id) }}">Back to Restaurants</a>

</body>
</html>